.cards {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.section {
	width: 100%;
	height: auto;
	display: flex;
	align-items: flex-start;
	background: #ffffff;
	border: 1px solid #dfe0eb;
	border-radius: 8px;
	padding-left: 20px;
    margin-bottom: 50px;
	box-sizing: border-box;
}

.section-header {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.header-right {
	display: flex;
}

.header-right > p {
	margin-left: 20px;
	margin-right: 20px;
}

.section-right {
	border-left: 1px solid #dfe0eb;
}

.header-left > h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #252733;
	margin-bottom: 0;
}

.header-left > p {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1px;
	color: #9fa2b4;
	margin: 5px;
}

.footer{
    display: flex;
    justify-content:space-between
}

.footer-left,
.footer-right {
	height: 336px;
	width: 48%;
	background: #ffffff;
	border: 1px solid #dfe0eb;
	box-sizing: border-box;
	border-radius: 8px;
    padding: 10px;
}
